@import "tailwindcss";

:root {
  --background: #191927;
  --foreground: #e4e3ec;
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }
}

.animate-fadeIn {
  animation: fadeIn 0.4s ease-out forwards;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #34344C inset !important; /* cor de fundo */
  -webkit-text-fill-color: #f9fafb !important; /* cor do texto */
  transition: background-color 5000s ease-in-out 0s;
}